body {
  min-width: 1200px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "OpenSansLight", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #464646;
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
button,
input,
textarea {
  font: inherit;
  margin: 0;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.main-header .container {
  padding-top: 40px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 14px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 32px;
  background-color: #f7e296;
}
.nav a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -34px;
  margin-left: 0;
  margin-bottom: 14px;
}
.nav a:hover {
  opacity: 0.6;
}
.nav a:active {
  opacity: 0.3;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.nav-search label {
  margin-bottom: 40px;
}
.nav-search input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3;
}
.nav-search  input::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}
.nav-search  input:-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}
.nav-search input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}
.nav-search input:hover::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
}
.nav-search input:hover::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}
.nav-search input:hover:-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}
.nav-search input:hover:-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
}
.nav-search input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search input::-moz-placeholder {
  color: #000000;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search input:-moz-placeholder {
  color: #000000;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;}
.nav-search input:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;
}
.nav-search input:focus::-moz-placeholder {
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search input:focus:-moz-placeholder {
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search input:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav-search a {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-left: 6px;
  font-size: 0px;
  text-decoration: none;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
}
.nav-search input {
  position: relative;
  width: 350px;
  margin-left: 16px;
  border: none;
  outline: none;
  color: #000000;
  background-color: transparent;
}
.nav-search .btn-search {
  display: none;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  background: none;
  border: 2px solid #000000;
  outline: none;
}
.nav-search .btn-search::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -380px;
  width: 380px;
  height: 2px;
  background-color: #000000;
}
.nav-search .btn-search:hover {
  display: block;
  background-color: #000000;
  color: #ffffff;
}
.nav-search .btn-search:active {
  display: block;
}
.nav-search input:focus + .btn-search {
  display: block;
}
.header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 5px;
}
.unidentified-user li:nth-child(2) {
  margin-left: 195px;
}
.unidentified-user li:nth-child(3) {
  margin-left: 20px;
}
.user-menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: auto;
  text-decoration: none;
  color: #000000;
}
.user-menu a:hover {
  opacity: 0.6;
}
.user-menu a:active {
  opacity: 0.3;
}
.user-menu a::before {
  display: block;
  content: "";
  width: 13px;
  height: 12px;
  margin-left: 20px;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-image: url("../img/user.png");
}
.user-menu .compare::before {
  top: 5px;
  left: -20px;
  background-image: url("../img/compare.png");
}
.user-menu .basket::before {
  top: 3px;
  left: -22px;
  background-image: url("../img/basket.png");
}
.identified-user li:nth-child(2) {
  margin-left: 15px;
}
.identified-user li:nth-child(3) {
  margin-left: 40px;
  margin-right: 18px;
}
.identified-user li:nth-child(4) {
  margin-left: 0px;
}
.user-menu .logout {
  opacity: 0.3;
}
.user-menu .logout::before {
  display: none;
}
.header-top .hidden,
.slider-promo .hidden,
.services .hidden,
.main-footer .hidden {
  display: none;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 3px;
  position: relative;
}
.header-bottom a {
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  text-decoration: none;
  color: #000000;
}
.header-bottom a:hover {
  opacity: 0.6;
}
.header-bottom a:active {
  opacity: 0.3;
}
.header-bottom li {
  margin-bottom: 18px;
}
.header-bottom .menu-catalog {
  margin-right: 294px;
}
.header-bottom .menu-delivery {
  margin-right: 33px;
  margin-left: 23px;
}
.header-bottom .menu-warranty {
  margin-right: 108px;
}
.header-bottom .menu-contacts {
  margin-right: -5px;
}
.sub-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 25px;
  left: -59px;
  margin: 0;
  list-style: none;
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7e296;
  z-index: 1;
}
.sub-menu li {
  margin: 0px;
  margin-right: 50px;
}
.sub-menu li:nth-child(3) {
  margin-right: 500px;
}
.sub-menu li:nth-child(4) {
  margin-right: 73px;
}
.sub-menu li:nth-child(5) {
  margin-right: 700px;
}
.sub-menu a {
  font-size: 15px;
  line-height: 36px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: normal;
  text-decoration: none;
}
.menu-catalog {
  position: relative;
}
.menu-catalog:after {
  position: absolute;
  content: "";
  top: 5px;
  right: -25px;
  width: 17px;
  height: 17px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.menu-catalog:hover + .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-promo .container {
  margin-bottom: 61px;
}
.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slider-number {
  width: 100%;
  padding-top: 0px;
  z-index: -1;
  background-color: #f7e296;
}
.slider-number span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin: 0px;
  margin-top: -11px;
  margin-bottom: -48px;
  margin-right: 52px;
  vertical-align: inherit;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  font-size: 174px;
  line-height: 169px;
  color: #ffffff;
}
.slider-number span::before {
  position: absolute;
  top: 47px;
  left: 600px;
  content: "";
  width: 100px;
  height: 6px;
  background-color: #ffffff;
}
.slider-image {
  background-color: #ffffff;
  width: 48%;
  padding: 0px;
}
.slider-image img {
  max-width: 100%;
  margin-top: -110px;
  margin-left: 90px;
}
.slider-item .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  padding: 0px;
  background-color: #ffffff;
}
.slider-content {
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: -32px;
}
.slider-content h2 {
  margin: 0px;
  font-size: 47px;
  letter-spacing: 1px;
  line-height: 56px;
  padding-left: 40px;
  margin-bottom: 18px;
  font-size: 47px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
}
.slider-content p {
  padding-left: 42px;
  padding-right: 80px;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.1px;
}
.slide-second .slider-image {
  padding: 0px;
}
.slide-third .slider-image {
  padding: 0px;
}
.slide-third img {
  max-width: 100%;
  margin: 0px;
  margin-left: 40px;
  margin-top: -40px;
}
.slide-third h2 {
  padding-right: 0px;
}
.attribute-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 53px;
}
.item-attribute .item-value {
  margin: 0;
  margin-bottom: 12px;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
.item-attribute .item-signature {
  margin: 0;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}
.controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 53px;
  z-index: 1;
}
.controls-wrapper .btn {
  width: 25%;
}
.btn {
  padding-left: 86px;
  letter-spacing: 3.8px;
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 52px;
  cursor: pointer;
}
.btn a {
  position: relative;
  text-decoration: none;
  color: #000000;
}
.btn a::before {
  position: absolute;
  content: "";
  top: 9px;
  left: -41px;
  padding-left: 23px;
  padding-right: 56px;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}
.btn a:hover::before {
  background-color: #f0c52e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.btn a:active {
  color: rgba(0, 0, 0, 0.3);
}
.slider-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}
.slider-switch i {
  display: block;
  width: 5px;
  height: 5px;
  border: 3px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  margin-right: 22px;
}
.slider-switch i:hover {
  opacity: 0.4;
}
.slider-switch i:active {
  opacity: 1.0;
}
.slider-switch .active {
  opacity: 1;
}
.сategory-goods .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 227px;
}
.сategory-item {
  margin: 0px;
}
.сategory-item a {
  display: block;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;
  text-decoration: none;
  background-color: #f7e296;
}
.сategory-item span {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 12px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.сategory-item:hover a {
  background-color: #f0c52e;
}
.сategory-item:active img,
.сategory-item:active h3 {
  opacity: 0.3;
}
.services {
  background-color: #e5e5e5;
}
.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 218px;
  padding-bottom: 69px;
  margin-bottom: 93px;
}
.service-nav {
  display: block;
  width: 30%;
  margin-top: -102px;
}
.service-nav ul {
  display: block;
  width: 79%;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 82px;
  padding-bottom: 43px;
  border-right: 8px solid #000000;
}
.service-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin-bottom: 27px;
  vertical-align: middle;
  letter-spacing: 3.8px;
  font-size: 18px;
  line-height: 18px;
  line-height: 40px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.service-nav b {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #000000;
  z-index: 1;
  cursor: pointer
}
.service-nav b::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;
  padding-right: 0px;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}
.service-nav b.active::after,
.service-nav b:active::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  padding-right: 0px;
  width: 100%;
  height: 6px;
  width: 280px;
  height: 40px;
  background-color: #000000;
  z-index: -1;
}
.service-nav b:hover {
  background-color: #f0c52e;
}
.service-nav b:hover::before {
  display: none;
}
.service-nav b:active {
  color: #f7e296;
  background-color: #000000;
}
.service-nav b:active::before {
  display: none;
}
.service-nav .active {
  color: #f7e296;
  background-color: #000000;
}
.service-nav .active::before {
  display: none;
}
.service-nav .active:hover {
  color: #f7e296;
  background-color: #000000;
}
.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: -31px;
}
.service-content .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65%;
  padding-left: 51px;
}
.service-content h2 {
  width: 100%;
  margin: 0px;
  text-align: left;
  font-size: 47px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 1px;
}
.service-content p {
  padding-right: 80px;
  line-height: 30px;
  margin-top: -3px;
  margin-bottom: 46px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: #464646;
  text-align: left;
  letter-spacing: 0.3px;
}
.service-content img {
  max-width: 100%;
  margin: 0px;
  margin-top: 12px;
  margin-left: 31px;
  width: 136px;
  height: 164px;
}
.brands .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 77px;
}
.brands-item {
  margin-bottom: 18px;
}
.brands-item img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.3;
}
.brands-item img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
.information {
  margin-bottom: 11px;
}
.information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.information .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.information .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 49%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.information h2 {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 47px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
}
.information h2::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 0;
  width: 80px;
  height: 6px;
  background-color: #000000;
}
.about p {
  display: inline-table;
  margin-top: 0px;
  padding-left: 0;
  padding-right: 80px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: #464646;
  line-height: 30px;
}
.delivery-company {
  list-style: none;
  padding-left: 34px;
  padding-right: 100px;
  margin-top: 33px;
  margin-right: 50px;
  margin-bottom: 68px;
}
.delivery-company li {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}
.delivery-company li::before {
  position: absolute;
  content: "";
  top: 16px;
  left: -35px;
  display: block;
  width: 5px;
  height: 5px;
  border: 3px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
}
.about .btn {
  padding-left: 20px;
}
.about .btn a::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -20px;
  padding-right: 10px;
  width: 100%;
  height: 7px;
  background-color: #f0c52e;
  z-index: -1;
}
.contacts {
  margin-right: 0px;
}
.contacts p {
  display: inline-table;
  margin-top: 0;
  margin-bottom: 40px;
  padding-right: 0px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: #464646;
}
.contacts .btn {
  padding-left: 44px;
}
.contacts .btn a::before {
  position: absolute;
  content: "";
  top: 9px;
  left: -41px;
  padding-left: 23px;
  padding-right: 56px;
  width: 100%;
  height: 7px;
  background-color: #f0c52e;
  z-index: -1;
}
.map {
  display: block;
  margin-bottom: 68px;
}
.main-footer {
  background-color: #464646;
}
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}
.footer-top .logo {
  width: 50%;
}
.footer-top a:hover {
  opacity: 0.6;
}
.footer-top a:active {
  opacity: 0.3;
}
.footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-top .unidentified-user li:nth-child(2) {
  margin-left: 14px;
}
.footer-top a {
  text-decoration: none;
  color: #ffffff;
}
.footer-top a::before {
  background-image: url("../img/user-y.png");
}
.footer-top .compare::before {
  background-image: url("../img/compare-y.png");
}
.footer-top .basket::before {
  background-image: url("../img/basket-y.png");
}
.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}
.footer-middle span {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
.footer-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 6px;
  padding-right: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-middle li:nth-child(1) {
  margin-right: 35px;
}
.footer-middle li:nth-child(2) {
  margin-right: 43px;
}
.footer-middle a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: auto;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3.6px;
  text-decoration: none;
}
.footer-middle a:hover {
  opacity: 0.6;
}
.footer-middle a:active {
  opacity: 0.3;
}
.footer-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 43.4%;
  margin-bottom: 64px;
}
.footer-social::before {
  position: absolute;
  display: block;
  content: "";
  top: 20px;
  left: 0;
  width: 79px;
  height: 7px;
  background-color: #f0c52e;
}
.btn-social {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 9px;
  font-size: 0px;
  background-repeat: no-repeat;
  background-position: center 3px;
  opacity: 0.3;
}
.fb {
  background-image: url("../img/fb.png");
}
.instagram {
  background-image: url("../img/in.png");
}
.twitter {
  background-image: url("../img/tw.png");
}
.btn-social:hover {
  opacity: 0.6;
}
.btn-social:active {
  opacity: 0.1;
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-bottom: 64px;
}
.copyright a {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: -6px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center 3px;
  background-image: url("../img/htmlacademy-logo-y.png");
}
.copyright a:hover {
  opacity: 0.6;
}
.copyright a:active {
  opacity: 0.3;
}
.breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 39px;
}
.breadcrumbs h2 {
  width: 100%;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 12px;
  padding-left: 59px;
  letter-spacing: 0.5px;
  font-size: 47px;
  line-height: 57px;
  text-align: left;
  font-size: 47px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
}
.breadcrumbs-items {
  padding-left: 60px;
  padding-right: 0;
}
.breadcrumbs-items li,
.breadcrumbs-items a {
  opacity: 0.3;
  font-size: 14px;
  line-height: 36px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.breadcrumbs-items a:hover {
  opacity: 0.6;
}
.breadcrumbs-items a:active {
  opacity: 0.1;
}
.breadcrumbs-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs-items li {
  position: relative;
  margin-right: 43px;
}
.breadcrumbs-items li::before {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 4px;
  height: 4px;
  border: 2px solid #000000;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  clip: rect(auto,auto,6px,2px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
}
.breadcrumbs-items li:last-child::before {
  display: none;
}
.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product {
  background:
    linear-gradient(180deg, #dcdcdc 70px, #eeeeee 70px),
    linear-gradient(180deg, #efefef 70px, #ffffff 70px);
  background-position: 0%, 36.9%;
  background-size: 36.9% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 73px;
}
.filters {
  max-width: 325px;
  width: 28.5%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 0px;
  padding-bottom: 80px;
  background-color: #eeeeee;
  z-index: 0;
}
.filters h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-left: 60px;
  padding-right: 130px;
  padding-top: 26px;
  padding-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  margin-bottom: 13px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #dcdcdc;
}
.filters span {
  font-size: 47px;
  line-height: 47px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 67px;
  padding-left: 60px;
  padding-top: 56px;
}
.filter-item {
  width: 100%;
  margin: 0px;
  margin-bottom: 36px;
  padding-top: 12.8px;
  border-top: 2px solid #000000;
}
.filter-item span {
  display: block;
}
.filter-price {
  margin-bottom: 35px;
}
.filter-price span {
  margin-bottom: 38px;
}
.range-slider {
  position: relative;
  margin-bottom: 9px;
}
.range-scale {
  height: 2px;
  background-color: #dcdcdc;
}
.range-bar {
  height: 2px;
  width: 55%;
  background-color: #91c92f;
}
.range-toggle {
  position: absolute;
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: #eeeeee;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}
.range-toggle:hover {
  -webkit-box-shadow: 0 3px 5px 0px;
          box-shadow: 0 3px 5px 0px;
  background-color: #7eae29;
  border-color: #ffffff;
}
.min {
  left: 0px;
}
.max {
  left: 55%;
}
.range-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.range-price label {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}
.range-price input {
  max-width: 50%;
  font-size: 14px;
  line-height: 22px;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
}
.min-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}
.max-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
}
.filter-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.filter-color span {
  width: 100%;
  margin-bottom: 21px;
}
.checkbox-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}
.checkbox-item [type="checkbox"] {
  display: none;
}
.checkbox-item [type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  width: 23px;
  height: 23px;
  top: 15px;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-color: #dcdcdc;
  cursor: pointer;
}
.checkbox-item [type="checkbox"] + label:hover::before {
  background-color: #cecece;
}
.checkbox-item [type="checkbox"] + label:active::before {
  background-color: #c4c4c4;
}
.checkbox-item [type="checkbox"]:checked + label::before {
  background-image: url("../img/v.png");
}
.filter-bluetooth {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 42px;
}
.filter-bluetooth span {
  width: 100%;
  margin-bottom: 22px;
}
.radio-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}
.radio-item [type="radio"] {
  display: none;
}
.radio-item [type="radio"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  background-repeat: no-repeat;
  background-position: center 50%;
  cursor: pointer;
}
.radio-item [type="radio"]:checked + label::before {
  background-image: url("../img/radio.png");
}
.radio-item [type="radio"] + label:hover::before {
  border-color: #cecece;
}
.radio-item [type="radio"] + label:active::before {
  border-color: #c4c4c4;
}
.show-result {
  position: relative;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 47px;
  padding-bottom: 40px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3.8px;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.show-result::before {
  position: absolute;
  content: "";
  top: 6px;
  left: -41px;
  margin-left: 46px;
  width: 90.4%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}
.show-result:hover::before {
  background-color: #f0c52e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.show-result:active {
  color: rgba(0, 0, 0, 0.3);
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 71.5%;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.sorting ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sort-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 751px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding-left: 78px;
  margin-bottom: 20px;
  background-color: #efefef;
}
.sort-option h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 16px;
}
.sort-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;
}
.sort-category li {
  width: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 24px;
}
.sort-category li:nth-child(1) {
  margin-left: 0px;
}
.sort-category li:nth-child(3) {
  width: 119px;
  margin-right: 160px;
}
.sort-category a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}
.sort-category a:hover {
  opacity: 0.6;
}
.sort-category a:active {
  opacity: 1;
}
.sort-category .active a {
  opacity: 1;
}
.sort-category .active a:hover {
  opacity: 1;
}
.sort-category .active a:active {
  opacity: 1;
}
.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 30px;
}
.sort-arrows button {
  display: block;
  width: 20px;
  height: 10px;
  margin-top: 7px;
  margin-right: 24px;
  font-size: 0px;
  opacity: 0.2;
  border: none;
  background-color: inherit;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: center 0;
}
.sort-arrows button:hover {
  opacity: 0.4;
}
.sort-arrows button:active {
  opacity: 1;
}
.sort-arrows button:nth-child(2) {
  margin-right: 0px;
}
.sort-arrows .active {
  opacity: 1;
}
.arrow-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sort-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 755px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  margin-left: 75px;
}
.sort-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 50px;
}
.sort-item a {
  text-decoration: none;
}
.sort-item h3 {
  display: inline-block;
  width: 75%;
  margin: 0px;
  margin-top: 23px;
  padding: 0px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.1px;
}
.sort-item:nth-child(2) h3 {
  width: 60%;
}
.sort-item span {
  display: inline-block;
  width: 25%;
  margin: 0;
  margin-top: 19px;
  padding: 0;
  text-align: right;
  font-family: 'GilroyLight', 'Arial', sans-serif;
  font-weight: normal;
  color: #464646;
}
.item-options {
  position: absolute;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 227px;
  max-height: 81px;
  padding-top: 190px;
  padding-bottom: 107px;
  padding-left: 67px;
  padding-right: 66px;
  left: 0px;
  top: 0px;
}
.item-options a {
  padding: 0px;
  text-decoration: none;
}
.buy-btn {
  margin-bottom: 15px;
  padding-left: 47px;
  padding-right: 47px;
  font-size: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  letter-spacing: 3.8px;
  line-height: 18px;
  text-transform: uppercase;
  z-index: 0;
}
.buy-btn a {
  position: relative;
  text-decoration: none;
  color: #000000;
}
.buy-btn a::before {
  position: absolute;
  content: "";
  top: 9px;
  left: -41px;
  padding-left: 23px;
  padding-right: 56px;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}
.buy-btn a:hover::before {
  background-color: #f0c52e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.buy-btn a:active {
  color: rgba(0, 0, 0, 0.3);
}
.compare-btn {
  margin-left: 45px;
  font-size: 13px;
  line-height: 36px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  opacity: 0.5;
  color: #000000;
}
.compare-btn:hover {
  opacity: 1.0;
}
.compare-btn:active {
  opacity: 0.2;
}
.sort-item:hover .item-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sort-item:nth-child(4) {
  position: relative;
}
.sort-item:nth-child(4)::after {
  position: absolute;
  display: block;
  content: "";
  width: 60px;
  height: 61px;
  top: 25px;
  left: 273px;
  opacity: 0.2;
  background-image: url("../img/new.png");
  background-size: contain;
}
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0px;
  margin-top: 45px;
  margin-left: 73px;
  background-color: #efefef;
}
.page-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-nav li,
.page-nav a {
  font-size: 47px;
  line-height: 47px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
.page-nav li {
  margin-right: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  opacity: 0.3;
}
.page-nav li:hover {
  opacity: 0.6;
}
.page-nav li:active {
  opacity: 1;
}
.page-nav li:nth-child(4) {
  margin-right: 24px;
}
.page-nav .current-page {
  opacity: 1;
}
.page-nav .current-page:hover {
  opacity: 1;
}
.page-nav .current-page:active {
  opacity: 1;
}
.page-nav .page-prev {
  padding-left: 27.5px;
  padding-right: 35.5px;
  margin-right: 203px;
  opacity: 1;
}
.page-nav .page-prev:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.08);
}
.page-nav .page-prev:active {
  opacity: 1;
}
.page-prev:active a {
  opacity: 0.3;
}
.page-nav .page-next {
  padding-left: 35.5px;
  padding-right: 27.5px;
  margin-right: 0px;
  margin-left: 178px;
  opacity: 1;
}
.page-nav .page-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.08);
}
.page-nav .page-next:active {
  opacity: 1;
}
.page-next:active a {
  opacity: 0.3;
}
.page-nav .page-prev,
.page-nav .page-next {
  display: block;
  text-transform: uppercase;
  width: auto;
  letter-spacing: 3.5px;
}
@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide {
  0%   {
    -webkit-transform: translate(-1000%);
            transform: translate(-1000%);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@keyframes slide {
  0%   {
    -webkit-transform: translate(-1000%);
            transform: translate(-1000%);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
.popup {
  display: block;
  position: fixed;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  width: 320px;
  min-width: 961px;
  padding-top: 95px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  -webkit-animation: slide 2.6s;
          animation: slide 2.6s;
}
.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.close {
  position: absolute;
  content: "";
  top: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  font-size: 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #f7e296;
  cursor: pointer;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 25px;
  left: 12px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
}
.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close:hover {
  background-color: #f0c52e;
}
.close:active:before,
.close:active:after {
  background-color: #f5d76d;
}
.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 15px;
}
.field-name {
  width: 37.3%;
  padding-right: 41px;
}
.field-mail {
  width: 37.3%;
  padding-left: 0px;
}
.field label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
}
.field input {
  width: 100%;
  min-width: 210px;
  margin-bottom: 20px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  background-color: #f2f2f2;
  border: none;
}
.field input:hover {
  background-color: #eaeaea;
}
.field input:focus {
  background-color: #ffffff;
  outline-color: #f7e296;
}
.field input:invalid {
  background-color: #f6dada;
}
.field input::-webkit-input-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input::-moz-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:-moz-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:-ms-input-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:focus::-webkit-input-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:focus::-moz-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:focus:-moz-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field input:focus:-ms-input-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea {
  width: 722px;
  height: 120px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: normal;
  resize: none;
  background-color: #f2f2f2;
  border: none;
}
.field textarea:hover {
  background-color: #eaeaea;
}
.field textarea:focus {
  background-color: #ffffff;
  outline-color: #f7e296;
}
.field textarea:invalid {
  background-color: #f6dada;
}
.field textarea::-webkit-input-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea::-moz-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:-moz-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:-ms-input-placeholder {
  color: #464646;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:focus::-webkit-input-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:focus::-moz-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:focus:-moz-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field textarea:focus:-ms-input-placeholder {
  color: #464646;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.popup-btn {
  position: relative;
  padding-left: 40px;
  padding-right: 47px;
  margin-left: 95px;
  margin-right: 0px;
  margin-bottom: 24px;
  letter-spacing: 3.8px;
  font-size: 18px;
  line-height: 18px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
}
.popup-btn::before {
  position: absolute;
  content: "";
  top: 6px;
  left: -41px;
  margin-left: 46px;
  width: 90.4%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}
.popup-btn:hover::before {
  background-color: #f0c52e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.popup-btn:active {
  color: rgba(0, 0, 0, 0.3);
}
.popup-map {
  position: fixed;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 50;
  -webkit-animation: bounce 1.6s;
          animation: bounce 1.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
